.home-page-top-fold {
    height: 100vh;
    width: 100vw;
    background-image: url(https://www.incimages.com/uploaded_files/image/970x450/getty_672425798_399101.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    text-align: center;
    z-index: -1;
}

.home-page-top-fold > * {
    position: relative;
    top: 23vh;
    color: $color1;
}

.main-title {
    font-size: 4rem;
}

.start-btn {
    font-size: 2.5rem;
    padding: 1%;
    background-color: $color2;
    color: $color3;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 3s;
    &:hover:after {
        content: " ↓";
        padding-left: .625rem;
    }
}