.home-page-top-fold {
  height: 100vh;
  width: 95vw;
  background-image: url(https://www.incimages.com/uploaded_files/image/970x450/getty_672425798_399101.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  z-index: -1;
  text-align: center;
}
.home-page-top-fold > * {
  position: relative;
  top: 25%;
}
.main-title {
  font-size: 4rem;
}
