.houseList {
  padding-top: 72px;
  padding-left: 5%;
  width: 90%;
  @media (min-width: 450px) {
    width: 50%;
    padding-left: 2%;
  }

  > * > * {
    border-bottom: 1px solid $color4;
    padding: 3% 0px;
  }
}

.specialPicksHeader {
  margin-bottom: 5%;
}

.topPicks {
  max-width: $containerWidth;
  display: flex;
  margin: 0 auto;


  @media (max-width: 550px) {
    flex-wrap: wrap;
  }

  > * {
    width: 25%;

    @media (max-width: 550px) {
      width: 50%;
    }
  }

  .housePreview {
    flex-direction: column;
    @media (max-width: 420px) {
      padding-bottom: 200px;
    }
    // width: 80%;
    //   height: 50%;

    //   // .houseRating {

    //   // }
  }
}
