.add-house-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
}

.add-house-page-left {
    margin-top: 3em;
}


.add-house-step-container {
    text-align: left;
    margin-left: 7em;
    max-width: 35em;
}

.add-house-welcome-text-1{
    font-family: 'Gupter', serif;
    font-size: 26px;
    color: rgb(124, 59, 59);
    margin-bottom: 1px;
}

.add-house-welcome-text-2{
    font-family: 'Gupter', serif;
    font-size: 26px;
    color: rgb(124, 59, 59);
    margin-bottom: 50px;
}


.add-house-step {
    font-family: eurof;
    font-size: 20px;
    color: rgb(189, 158, 158);
    padding-bottom: 0px;
    margin-bottom: 8px;
    margin-top: 50px;
}

.add-house-name-of-house-text {
    color: rgb(124, 59, 59);
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 5px;
}

.add-house-name-input {  
        max-width: 25em;
        min-width: 21em;
        height:2.5em;
        border: solid 1.3px rgb(179, 156, 156);
        font-size: 15px;
        padding: none;
        border-radius: 2px;
}

.add-house-address-text {
    color: rgb(124, 59, 59);
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 5px;
}

.add-house-location-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-width: 27em;
}

.add-house-address-input {
    width: 9em;
    height:2.5em;
    border: solid 1.3px rgb(179, 156, 156);
    font-size: 15px;
    padding: none;
    border-radius: 2px;
}

.add-house-charge-per-night-text {
    color: rgb(124, 59, 59);
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 5px;
}

.add-house-price-input {
    max-width: 25em;
    min-width: 21em;
    height:2.5em;
    border: solid 1.3px rgb(179, 156, 156);
    font-size: 15px;
    padding: none;
    border-radius: 2px;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.add-house-amenities-text {
    color: rgb(124, 59, 59);
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 5px;
}

.add-house-amenities-input {
    max-width: 28em;
    min-width: 22em;
    border: solid 1.3px rgb(179, 156, 156);
    font-size: 20px;
    border-radius: 2px;
    // margin-bottom: 2em;
}

.add-house-Upload-image-text {
    color: rgb(124, 59, 59);
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 10px;
}


.appartment-draw {
    position: fixed;
    right: 2em;
    top: 8em;
    opacity: 0.6;  

}

.add-house-imgs-container {
    margin-top: 30px;
}

.upload-imgs-btn {
    width: 11em;
    height:3.5em;
    margin-top: 2em;
    background-color: rgb(71, 156, 71);
    align-items: center;
    border: 0;
    border-radius: 3px;
    color: white;
    // font-size: 50px;
    font-weight: bold;
    margin-bottom: 1em;
    margin-right: 2em;
}


.add-house-page-right {
    width: 40em;
    margin-top: 8.3em;
}

.el-upload__tip {
    margin-bottom: 3em;
}

.img-present {
    width: 8em;
    height: 8em;
} 

.check-txt {
    color: rgb(124, 59, 59);
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 5px;
}

.calender-container {
    width: 25em;
}

.check-input {
    width: 12em;
    height: 3em;
    border: solid 1.3px rgb(179, 156, 156);
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.add-house-btn {
    width: 11em;
    height:3.5em;
    margin-top: 2.5em;
    background-color: rgb(71, 156, 71);
    color: white;
    align-items: center;
    border: 0;
    border-radius: 3px;
    margin-bottom: 4em;
    margin-right: 1.5em;
}

// @media screen and (max-height:800px) {

// }
