.houseImgs {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "a b b"
  "a c d";
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 50% 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.houseImg1 {
  grid-area: a;
}

.houseImg2 {
  grid-area: b;
}

.houseImg3 {
  grid-area: c;
}

.houseImg4 {
  grid-area: d;
}

.houseMainImage {
  width: 65%;
  height: 100%;
  object-fit: cover;
  // border-radius: 8px;
}

.houseGeneralInfo {
  width: 27%;
  background-color: $color4;
  padding: 3%;
  border-radius: 8px;
}

.houseDesc {
  padding: 0px 3vw;
}

@media (min-width: 1000px) {
  .detailstopFold {
    width: 80vw;
  }
}

@media (max-width: 420px) {
  .detailstopFold {
    flex-direction: column-reverse;
    align-items: center;
    > * {
      width: 90%;
      margin-top: 5%;
    }
  }
}
