.inspSect {
  background-image: url("../assets/imgs/insp.jpg");
  background-repeat: no-repeat;
  height: 70vh;
  width: 70%;
  background-size: cover;
  background-position: center;
  border-radius: 3vh;
  margin: 0 auto;
  margin-top: 15%;
  text-align: center;
  font-family: tangerine;
  color: blue;
  font-size: 5vw;
}
@media (max-width: 550px) {
  .inspSect {
    display: none;
  }
}
.inspSect .inspQuote {
  margin: 0px;
  padding-top: 7%;
}
.inspSect .inspTxt {
  position: relative;
  top: 20%;
}
