.inspSect {
  position: absolute;
  top: 175vh;
  left: 13vw;
  background-image: url("../assets/imgs/insp.jpg");
  background-repeat: no-repeat;
  height: 70vh;
  width: 70%;
  background-size: cover;
  background-position: center;
  border-radius: 3vh;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 550px) {
  .inspSect {
    display: none;
  }
}
.inspSect .inspQuote {
  font-family: tangerine;
  font-size: 8vw;
  color: blue;
}
.inspSect .inspTxt {
  font-family: tangerine;
  font-size: 8vw;
  color: blue;
  position: absolute;
  bottom: 1%;
  left: 30px;
}
