.my-header {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 6px 0px;
    margin-bottom: 1%;
    background-color: rgba(146, 146, 146, 0.527);
}

.main-logo {
    height: 80%;
    width: auto;
    padding-left: 1.5%;
    padding-top: .5%;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    float: right;
    min-width: 40%;
    height: 100%;
}

.header-link {
    text-transform: uppercase;
    padding: 3.5%;
    background-color: transparent;
    border: 0px;
    text-decoration-line: none;
    color: $color1;
    // height: 100%;
}