.my-header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0px;
  background-color: $color5;
}

.main-logo {
  height: 80%;
  width: auto;
  padding-left: 1.7%;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-right: 1.7%;

  @media (max-width: 450px) {
    display: none;
  }
}

.header-link {
  text-transform: uppercase;
  padding: 3.5% 5%;
  background-color: transparent;
  border: 0px;
  white-space: nowrap;
  text-decoration-line: none;
  color: $color6;
}

.hamburger {
  margin-right: 20px;
  background-color: transparent;
  border: 0px;
  font-size: 29px;
  color: $color1;
  // cursor: pointer;
  @media (min-width: 450px) {
    display: none;
  }
}

.mobileNav {
  background-color: $color5;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 12px;
  z-index: 1;
  height: calc(100vh - 12px);
  transition: all 1s;

  .header-link {
    margin: 15px 0px;
  }

  .mobileNavHead {
    font-size: 1rem;
    color: $color1;
  }
}

.screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  background-color: $color5;
  overflow-y: hidden;
}