.home {
  .myFooter {
    position: absolute;
    top: 335vh;
    padding: 70px 0px;
    width: 100%;
    align-self: center;
    @media (max-width: 550px) {
      top: 295vh;
      width: 60vw;
      padding: 40px 0px;
    }

    .logo {
      width: 10vw;
    }
  }
}
