.home {
  .myFooter {
    width: 100%;
    margin: 5% auto;
    align-self: center;
    @media (max-width: 550px) {
      top: 295vh;
      width: 60vw;
      padding: 40px 0px;
    }

    .portrait {
      border-radius: 999px;
      margin: 0 1%;
      width: 12vw;
      @media (max-width: 600px) {
        width: 20vw;
      }
      @media (max-width: 420px) {
        width: 25vw;
      }
    }
  }
}

.myFooter .logo {
  margin-top: 5%;
  width: 25vw;
  @media (max-width: 600px) {
    width: 40vw;
  }
}
