.order-details-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 96vh;

}

.order-details-txts-right-container {
    font-size:22px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-top: 2em;
}

.order-details-house-rules-txt {
    font-family: eurof;
    font-size: 32px;
    margin-bottom: 1em; 
}

.order-details-diamond-box {
    border-style:solid;
    border-color: lightgray;
    border-width: 0.7px;
    border-radius: 3px;
    height: 2.8em;
    width: 20em;
    margin-bottom: 3.2em;
   
}

.diamond-img {
    margin-left: 1em;
    margin-right: 1em;
}
.diamond-text {
    font-size: 18px
}

.order-details-in-mind-txt {
    font-family: eurof;
    font-size: 22px;
    margin-bottom: 1em;
}

.children-comment-container {
    margin-bottom: 1em;
    font-size: 18px;
}

.animals-comment-container {
    margin-bottom: 1em;
    font-size: 18px;
}

.animal-txt {
    margin-left: 0.3em;
}


.agree-btn {
    width: 13em;
    height:3.5em;
    margin-top: 2em;
    background-color: rgb(71, 156, 71);
    align-items: center;
    border: 0;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 1em;
}



.order-details-imgs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.order-details-img {
    height:6.2em ;
    width: 6.2em;
    object-fit: cover;
    margin-bottom: 2em;
    
}

.order-details-txts-left-container {
    margin-top: 3em;
    border-style:solid;
    border-color: lightgray;
    border-width: 0.7px;
    border-radius: 3px;
    height: 28em;
    width: 25em;
    margin-bottom: 3.2em;
   
}

.order-details-txts-left-inner {
    margin:1em;
}

.img-inner-text {
    text-align: left;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 0.3em;
   
}

.img-inner-upper-txt {
    margin-bottom: 0.8em
    
}

.img-inner-lower-txt {
    font-weight: lighter;
    margin-bottom: 0.2em;
}

.img-inner-lower-txt-2 {
    font-weight: lighter;
    margin-bottom: 0.2em;
}

.order-details-hr {
    margin-bottom: 2em;
}

.guests-container {
    margin-bottom: 1em;
}

.guests-img {
    background-color: white;
    opacity: 0.3;
}

.order-details-txts {
    font-size: 20px;
    font-family: 'Rokkitt', serif;
}

.calendar-img {
    background-color: white;
    opacity: 0.3;
}

.calendar-container {
    margin-bottom: 2em;
}

.order-details-txts.margin{
    margin-bottom: 1em;
}

@media screen and (max-width:900px) {
    .order-details-page-container {
        flex-direction: column;
        justify-content: unset;
        // height: 60vh;
        margin-left: 5em;
    }

    .order-details-diamond-box {
        border: none;
    }

    .order-details-txts-left-container {
        border: none;
    }
}
