.order-preview-container {
  border-radius: 15px;
  font-weight: bold;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.order-preview-item {
  display: flex;
  flex-direction: column;
  width: 30em;
  height: 5em;
  font-family: "Montserrat";
}

.app-btn {
  width: 7em;
  height: 2.5em;
  background-image: linear-gradient(to bottom right, $color1, $color2);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 8px;
  color: white;
  font-weight: bold;
}

.rej-btn {
  width: 7em;
  height: 2.5em;
  background-image: linear-gradient(to bottom right, $color5, $color4);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;

}