.user-msg {
  width: 20vw;
  height: 15vw;
  display: flex;
  align-items: center;
  background-color: $color3;
  color: $color5;
  border: 0;
  position: fixed;
  top: 70px;
  right: 10px;
  button {
    font-size: 1.3rem;
    background-color: unset;
    color: $color7;
    border: 0;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  img {
      width: 35%;
      position: absolute;
      bottom: 5px;
      left: 5px;
  }
  .user-msg-success {
    width: 100%;
    text-align: center;
    color: $color7;
    font-weight: 700;
  }
  .user-msg.error {
    background-color: $color3;
    color: $color7;
  }
}