.user-profile-page-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8%;
  margin-bottom: 8%;
  @media (max-width: 550px) {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
}

.user-profile-page-left {
  padding-bottom: 1%;
  margin-top: 80px;
  @media (max-width: 550px) {
    margin-top: 0;
    padding-bottom: 0;
  }
}

.user-profile-box {
  padding: 3em;
  // min-width: 20em;
  text-align: start;
}

.user-profile-box-container {
  background-color: $color5;
  border-radius: 15px;
  width: 47%;
  @media (max-width: 550px) {
    width: 100vw;
    margin-left: 0;
    border-radius: 0;
  }
}

.userImgContiner {
  text-align: center;
  border-bottom: 1px solid darkgray;
  margin-bottom: 6%;

  img {
    width: 70%;
    height: 70%;
  }
}

.user-img {
  width: 10vw;
  height: 10vw;
  margin: 0 auto 10% auto;
  border-radius: 9999px;
  object-fit: cover;
}

.profileSect {
  display: flex;
  margin-bottom: 5%;
}

.profileIcon {
  width: 10%;
  height: 10%;
  margin-right: 5%;
  object-fit: cover;
}

.reviews-number-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.reviews-number-txt {
  font-family: "Roboto", sans-serif;
}

.reviews-verified-txt {
  font-family: "Roboto", sans-serif;
}

.verified-img {
  margin-top: 1em;
  margin-right: 0.3em;
}

.checked {
  margin-top: 0.7em;
}

.bgi {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.user-profile-page-right {
  width: 47%;
  background-color: $color5;
  text-align: left;
  border-radius: 15px;
  @media (max-width: 550px) {
    width: 100%;
    border-radius: 0;
  }
}

.page-right-box {
  margin: 3em;
}

.apostrophes {
  font-size: xx-large;
}

.welcome-txt {
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  margin-bottom: 7px;
  color: rgb(88, 31, 31);
}

.joined-year {
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
  font-size: large;
}

.come-visit {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  margin-bottom: 7px;
}

.description-txt {
  text-align: justify;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}

.changeToHostModeBtn {
  width: 13em;
  height: 3.5em;
  margin-top: 2.5em;
  background-image: linear-gradient(to bottom right, $color1, $color2);
  align-items: center;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2em;
  color: white;
  font-size: medium;
}

.host-houses-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $color5;
  margin-bottom: 2em;
  border-radius: 15px;
  align-items: center;
  padding: 8%;
  @media (max-width: 550px) {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  .host-houses-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60em;

    a {
      float: left;
    }
  }
}

.my-places-txt {
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 20px;
}

// @media screen and(max-width: 550px) {
//   .host-houses-container {
//   margin-left: none;
//   }
// }

.host-houses-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  // justify-content: start;
  flex-wrap: wrap;
  width: 15em;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 2em;
}

.host-houses-list-txts {
  display: inline-block;
  white-space: nowrap;
  width: 208px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.host-house-img {
  width: 13em;
  height: 9em;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 4px;
}

.profile-item {
  font-family: "Montserrat";
  margin-bottom: 4px;
  font-size: 0.9rem;
  color: rgb(88, 31, 31);
}

.profile-item-house-name {
  font-family: "Montserrat";
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: bold;
  color: $color7;
}

.profile-orders-container {
  background-color: $color5;
  border-radius: 15px;
  max-width: 70em;
  padding: 20px;
  margin-bottom: 8%;
  @media (max-width: 550px) {
    margin: 0;
    border-radius: 0;
  }
}

.profile-orders-list {
  color: rgb(88, 31, 31);
}
