.user-profile-page-left {
  padding-bottom: 5%;
  border-bottom: 1px solid darkgray;
  margin-top: 100px;
  @media (max-width: 550px) {
    margin-top: 60px;
  }
}

.user-profile-box {
  padding: 15%;
  text-align: start;
}

.user-profile-box-container {
  background-color: $color5;
  border-radius: 15px;
  width: 40vw;
  margin-left: 3em;
  @media (max-width: 550px) {
    width: 100vw;
    margin-left: 0;
    border-radius: 0;
  }
}

.userImgContiner {
  text-align: center;
  padding-bottom: 3%;
  border-bottom: 1px solid darkgray;
  margin-bottom: 10%;
}

.user-img {
  width: 20vw;
  height: 20vw;
  margin: 0 auto 10% auto;
  border-radius: 9999px;
  object-fit: cover;
}

.profileSect {
  display: flex;
  margin-bottom: 5%;
}

.profileIcon {
  width: 10%;
  height: 10%;
  margin-right: 5%;
  object-fit: cover;
}

.reviews-number-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.reviews-number-txt {
  font-family: "Roboto", sans-serif;
}

.reviews-verified-txt {
  font-family: "Roboto", sans-serif;
}

.verified-img {
  margin-top: 1em;
  margin-right: 0.3em;
}

.checked {
  margin-top: 0.7em;
}

.bgi {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.user-profile-page-right {
  background-color: $color5;
  width: 100vw;
  text-align: left;
  // margin: 5%;
}

.page-right-box {
  margin: 3em;
}

.apostrophes {
  font-size: xx-large;
}

.welcome-txt {
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
}

.joined-year {
  font-family: "Roboto", sans-serif;
}

.description-txt {
  font-family: "Courgette", cursive;
}
