
.order-house-imgs-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // align-self: center;
    align-content: space-around;
    // grid-template-columns: repeat(auto-fill, minmax(15.3em, 3fr));
    // gap: 0.2em;
}


.house-reserve-image {
    height:16.7em ;
    width: 16.7em;
    object-fit: cover;
    margin: 0.1em;
}

.reservation-page-general-data {
    // background-color: chartreuse;
    // font-family: eurof;
    font-family: 'Roboto', sans-serif;
    max-width:52em;
    height: 32em;
    left: 3em;
    top: 5em;
    margin-left: 1em;
    text-align: left;
}

.house-name {
font-size: x-large;
font-weight: bold;
}

.house-price {
    font-size: large;
    font-weight: bold;
    }

.reserve-form {
    background-color: white;
    border-style:solid;
    border-color: lightgray;
    position: fixed;
    right: 1em;
    top: 5em;
    border-width: 0.7px;
    width: 19em;
    height: 32em;
    margin-right: 2em;
    // position: fixed;
}



.reserve-form-container {
    margin-left: 10px;
    margin-right:10px;
}

.reviews-data {
    font-size: 12px;
    text-align: left;
}

.reserve-form-price {
    text-align: left;
}

.bold {
    font-weight: bold;
    text-align: left;
}

.reviews-data-bold {
    font-size: 12px;
    font-weight: bold;
    text-align: left;

}

.reviews-data-bold-center {
    font-size: 12px;
    font-weight: bold;
    text-align: center;

}

.reserve-form-boxes-container {
    border-style:solid;
    border-color: lightgray;
    border-width: 0.7px;
    border-radius: 3px;
    height: 2.5em;
    margin-bottom: 0.5em;
}

.reserve-form-boxes {
    background-color: lightsteelblue;
    width: 7em;
    height:1.5em;
    margin-left: 0.6em;
    margin-right: 0.6em;
    border-radius: 4px;
    align-items: center;
}

.reserve-form-select-input {
    background-color: lightsteelblue;
    width: 8.6em;
    height:1.8em;
    margin-left: 0.6em;
    margin-right: 0.6em;
    border-radius: 4px;
    align-items: center;
    border: none;
  
}

.input-adults:hover {
    cursor: pointer;
}

.guests:hover {
cursor: pointer;
}

.text-margin {
    margin-left: 0.4em;
}


.reserve-btn {
    width: 20em;
    height:3.5em;
    margin-top: 2.5em;
    background-color: rgb(71, 156, 71);
    align-items: center;
    border: 0;
    border-radius: 3px;
}

.reserve-btn:hover {
    cursor: pointer;
}

.reserve-btn-text{
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

// .non-charge-box {
//     text-align: center;
//     align-items: center;
//     justify-content: center;
// }
 
.reserve-box-bottom-text {
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.8em;
    margin-right: 1em;
    margin-top: 2em;
}

.bulb-img {
    width: 3em;
    height: 2.5em;
    opacity: 1;
    background-color: white;
    opacity: 0.4;
}



@media screen and (max-width:803px) {

    .reserve-form {
        margin-top: 0.5em;
        margin-left: 1em;
    }
}