* {
  box-sizing: border-box;
}
* ::-webkit-scrollbar {
  width: 10px;
}
* ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body {
  margin: 0 auto;
  width: 100vw;
  font-family: "Montserrat";
  text-align: center;
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
