* {
  scroll-behavior: smooth;
  :focus {
    outline: none;
  }
  box-sizing: border-box;
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: lightgray;
  }
  ::-webkit-scrollbar-thumb {
    background: $color2;
    border-radius: 999px;
  }
}

body {
  margin: 0 auto;
  width: 100vw;
  font-family: "Montserrat";
  text-align: center;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

// li{
//     list-style: none;
// }

// .select{
//     -webkit-appearance: menulist;
//     border-style: solid;
// }
//  button{
//     background-color: #1976d2;
//     width: 80px;
//     border-radius: 6px;
// }
