* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100vw;
    font-family: 'Montserrat';
    text-align: center;
    overflow-x: hidden;
}

// li{
//     list-style: none;
// }

// .select{
//     -webkit-appearance: menulist;
//     border-style: solid;
// }
//  button{
//     background-color: #1976d2;
//     width: 80px;
//     border-radius: 6px;
// }
