body {
    margin: 0 auto;
    max-width: 100vw;
    font-family: 'Montserrat';
}

// li{
//     list-style: none;
// }

// .select{
//     -webkit-appearance: menulist;
//     border-style: solid;
// }
//  button{
//     background-color: #1976d2;
//     width: 80px;
//     border-radius: 6px;
// }
