@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

// @font-face {
//     font-family: montserrat;
//     src: url('/src/styles/fonts/Montserrat-Regular.ttf');
// }


@font-face {
    font-family: eurof;
    src: url('/src/styles/fonts/eurof55.ttf');
}


@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
}
@import url('https://fonts.googleapis.com/css?family=Tangerine:700&display=swap');


@font-face {
    font-family: 'Gupter', serif;
    src: url('https://fonts.googleapis.com/css?family=Gupter&display=swap');
}


@font-face {
    font-family: 'Noto Sans TC', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Gupter|Noto+Sans+TC&display=swap');
}


@font-face {
    font-family: 'Rokkitt', serif;
    src: url('https://fonts.googleapis.com/css?family=Rokkitt&display=swap');
}

