$color1: #1e1797;
$color2: #8163b9;
$color3: white;
$color4: rgb(214, 214, 214);
$color5: rgba(241, 241, 241, 0.685);
$color6: #545454;
$color7: black;
$containerWidth: 94vw;

@media (min-width: 1000px) {
    $containerWidth: 900px;
}